*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
    width: 100%;
    height: 100%;
}

html {
    background-color: rgb(64,64,64);  
}

body {
  box-sizing: border-box;    
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.center-cont {
    display: flex;
    flex-direction: column;    
    align-items: center; 
    padding: 1rem;    
}

h1, h2, p {
    padding: .5rem;
}